/* update 7/21/25: let's be more clear */

/* this makes the magic happen: true center aligned magic! */
.center {
    overflow: auto; /* make content scrollable */
    position: fixed; /* this is required by the below */
    /* next three lines makes the content center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* i don't know if these 3 lines even help */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* undo weird black magic done by .center div */
.outer#buttons:not(#home:target) {
    top: auto !important; /* do not change fixation of buttons */
    left: auto !important; /* do not change fixation of buttons */
    transform: translate(0%, 0%) !important; /* do not change fixation of buttons */
}

/* make projects scrollable. */
#projects.center, #history.center {
  width: 50%; /* i don't remember why i needed to specify width */
  height: 100%; /* for it to scroll the height needs to be set */
}

/* match project styling for #resources */
#resources.center {
  width: 65%; /* make the width higher so you can scroll from more of the screen */
}

/* fix images being too big for the div */
#history.center img {
  width: 100%; /* i don't remember why i needed to specify width */
}

/* this is our main magic */
body {
    font-family: 'Roboto'; /* set the font */
    font-size: 21px; /* font size for the ENTIRE website. */
    color: #FFFFFF; /* make text white */
    background-color: #0F0F0F; /* make background black, but not pitch black. */
}

/* force a specific image size for nav only. the class is "nav" :) */
.nav {
height: 35px;
width: 35px;
}


/* don't display home on ANY other page. they are now chained together to save space :) */
#home, #about, #realabout, #projects, #music, #history, #resources {
  display: none;
}

/* show the content only when open */
#home:target, #about:target, #realabout:target, #projects:target, #music:target, #history:target, #resources:target {
  display: block;
}

/* this cursed puppy forces the two rules above to work. */
.outer {
  &:not(:has(#home:target)) {
    & #home:first-of-type {
      display: block;
    }
  }
}

/* style wintr tooltips */
.tooltip {
        background: #2d2d2e; /* use different stylizing because this isn't wintr's site */
        color: #fcfcff; /* use different stylizing because this isn't wintr's site */
        /* rest is specified as per wintr's documentation and should NOT be changed */
        position: fixed;
        padding: 6px 10px;
        border-radius: 6px;
        font-size: 14px;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.15s ease;
        z-index: 10;
}

.tooltip.visible {
        opacity: 1;
}

/* default link colors look bad... let's fix that by making it all rainbow puke! */

 /* unvisited link */
a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
} 