/* update 7/21/25: let's be more clear */

/* this makes the magic happen: true center aligned magic! */
.center {
    overflow: auto; /* make content scrollable */
    position: fixed; /* this is required by the below */
    /* next three lines makes the content center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* i don't know if these 3 lines even help */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* make projects scrollable. */
#projects.center {
  width: 50%; /* i don't remember why i needed to specify width */
  height: 100%; /* for it to scroll the height needs to be set */
}

/* match project styling for #history */
#history.center {
  width: 50%; /* i don't remember why i needed to specify width */
  height: 100%; /* for it to scroll the height needs to be set */
}


/* match project styling for #resources */
#resources.center {
  width: 50%; /* i don't remember why i needed to specify width */
  height: 100%; /* for it to scroll the height needs to be set */
}

/* this is our main magic */
body {
    font-family: 'Roboto'; /* set the font */
    font-size: 21px; /* font size for the ENTIRE website. */
    color: #FFFFFF; /* make text white */
    background-color: #0F0F0F; /* make background black, but not pitch black. */
}

/* force a specific image size for nav only. the class is "nav" :) */
.nav {
height: 35px;
width: 35px;
}


/* don't display home on ANY other page. this is a horrible, nightmareish hack. i don't care. somebody please make it better, i dare you. */
#home {
  display: none;
}

/* display about but ONLY when brought up */
#about {
  display: none;
}
#about:target {
  display: block;
}

/* another page */
#realabout {
  display: none;
}
#realabout:target {
  display: block;
}

/* another page */
#projects {
  display: none;
}
#projects:target {
  display: block;
}

/* another page */
#music {
  display: none;
}
#music:target {
  display: block;
}

/* another page */
#history {
  display: none;
}
#history:target {
  display: block;
}

/* another page */
#resources {
  display: none;
}
#resources:target {
  display: block;
}


/* this cursed puppy? it hides home when another page is open. */
#home:target {
  display: block;
}

.default {
  &:not(:has(#home:target)) {
    & #home:first-of-type {
      display: block;
    }
  }
}

/* style wintr tooltips */
.tooltip {
        background: #2d2d2e; /* use different stylizing because this isn't wintr's site */
        color: #fcfcff; /* use different stylizing because this isn't wintr's site */
        /* rest is specified as per wintr's documentation and should NOT be changed */
        position: fixed;
        padding: 6px 10px;
        border-radius: 6px;
        font-size: 14px;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.15s ease;
        z-index: 10;
      }

      .tooltip.visible {
        opacity: 1; /* uhhh? i'll ask later i cba */
      }

/* default link colors look bad... let's fix that by making it all rainbow puke! */

 /* unvisited link */
a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
} 